* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-decoration: none;
}

.flex{
  display: flex;
}
.just-center{
  justify-content: center;
}
.flex-colum{
  flex-direction: column;
}
.flex-row{
  flex-direction: column;
}
.flex-warp{
  flex-wrap: wrap;
}
/* login system css */

/* login page */

.w-100 {
  width: 100%;
}
.w-15{
  width: 15%;
}
.w-85{
  width: 85%;
}
.w-1140 {
  width: 1140px;
  margin: auto;
}
.w-350 {
  width: 350px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin-top: 12px;
  /* max-width: 350px; */
}

.w-30{
  width: 30%;
}
.w-55{
  width: 55%;
}
